In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [2]:
df = pd.read_csv(r'C:\Users\German\Desktop\train_data_us.csv')

In [3]:
df

,last_price,total_area,bedrooms,ceiling_height,floors_total,living_area,floor,bike_parking,studio,open_plan,kitchen_area,balcony,airports_nearest,cityCenters_nearest
0,108000.0,59.0,2,2.87,4,31.5,2,0,0,0,6.6,0,20485,8180
1,264000.0,109.0,4,3.15,5,72.0,2,0,0,0,12.2,0,42683,8643
2,140000.0,74.5,3,2.58,10,49.0,9,0,0,0,10.8,0,14078,16670
3,64000.0,37.4,1,2.50,9,20.0,4,0,0,0,6.2,2,17792,17699
4,133000.0,64.9,3,2.65,12,41.9,11,0,0,0,10.4,0,14767,10573
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6490,100000.0,40.1,1,2.65,10,20.1,6,0,0,0,10.8,1,26495,14198
6491,307000.0,158.5,7,2.95,7,57.4,7,0,0,0,12.4,1,23546,3088
6492,137000.0,62.1,2,2.75,20,31.0,6,0,0,0,13.9,2,34506,14375
6493,113000.0,66.0,3,2.50,12,42.2,6,0,0,0,10.5,0,12892,11225
6494,90000.0,48.0,1,2.70,9,20.0,9,0,0,0,13.0,2,33641,14027

In [4]:
df.head()

,last_price,total_area,bedrooms,ceiling_height,floors_total,living_area,floor,bike_parking,studio,open_plan,kitchen_area,balcony,airports_nearest,cityCenters_nearest
0,108000.0,59.0,2,2.87,4,31.5,2,0,0,0,6.6,0,20485,8180
1,264000.0,109.0,4,3.15,5,72.0,2,0,0,0,12.2,0,42683,8643
2,140000.0,74.5,3,2.58,10,49.0,9,0,0,0,10.8,0,14078,16670
3,64000.0,37.4,1,2.50,9,20.0,4,0,0,0,6.2,2,17792,17699
4,133000.0,64.9,3,2.65,12,41.9,11,0,0,0,10.4,0,14767,10573

In [5]:
df.loc[df['last_price'] > 113000, 'price_class'] = 1
df.loc[df['last_price'] <= 113000, 'price_class'] = 0

In [15]:
df.head()

,last_price,total_area,bedrooms,ceiling_height,floors_total,living_area,floor,bike_parking,studio,open_plan,kitchen_area,balcony,airports_nearest,cityCenters_nearest,price_class
0,108000.0,59.0,2,2.87,4,31.5,2,0,0,0,6.6,0,20485,8180,0.0
1,264000.0,109.0,4,3.15,5,72.0,2,0,0,0,12.2,0,42683,8643,1.0
2,140000.0,74.5,3,2.58,10,49.0,9,0,0,0,10.8,0,14078,16670,1.0
3,64000.0,37.4,1,2.50,9,20.0,4,0,0,0,6.2,2,17792,17699,0.0
4,133000.0,64.9,3,2.65,12,41.9,11,0,0,0,10.4,0,14767,10573,1.0

In [30]:
df['price_class']

0       0.0
1       1.0
2       1.0
3       0.0
4       1.0
       ...
6490    0.0
6491    1.0
6492    1.0
6493    0.0
6494    0.0
Name: price_class, Length: 6495, dtype: float64

In [17]:
df['price_class'].unique()

array([0., 1.])

In [20]:
X= df.drop(['last_price', 'price_class'], axis=1)
y = df['price_class']

In [18]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [22]:
model = DecisionTreeClassifier()

In [23]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [24]:
base_preds = model.predict(X_test)

In [29]:
base_preds

array([0., 0., 1., ..., 0., 0., 0.])

In [40]:
print('Predictions:', base_preds)
print('Correct answers:', df['price_class'])

Predictions: [0. 0. 1. ... 0. 0. 0.]
Correct answers: 0       0.0
1       1.0
2       1.0
3       0.0
4       1.0
       ...
6490    0.0
6491    1.0
6492    1.0
6493    0.0
6494    0.0
Name: price_class, Length: 6495, dtype: float64